# MediaWiki API credentials for Talod Miraheze wiki
# Create a bot password at https://talod.miraheze.org/wiki/Special:BotPasswords

WIKI_USER=YourUsername@botname
WIKI_PASSWORD=your_bot_password_here
